<ion-view style="" class=" " id="page4" title="Get Pokemon Locations">
    <ion-content class="has-header" padding="true">
        <form class="list " id="getPokemonLocations-form2">
            <label style="" name="searchFilter" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Filter by Pokemon" type="search">
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
    </ion-content>
</ion-view>